/* style.css */
:root {
    --bg-color: hsla(226, 100%, 66%, 1);
    --text-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background: hsla(226, 100%, 66%, 1);

    background: linear-gradient(90deg, hsla(226, 100%, 66%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(226, 100%, 66%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(226, 100%, 66%, 1) 0%, hsla(190, 68%, 50%, 1) 100%);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Починаємо зверху */
    height: 100vh;
    text-align: center;
}

.weather-card {
    /* Відступ зверху враховує "чубчик" iPhone */
    margin-top: calc(env(safe-area-inset-top) + 20px);
}

.label {
    font-size: 12px;
    letter-spacing: 2px;
    opacity: 0.6;
    margin-bottom: 4px;
    text-transform: uppercase;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
}

.temp-container {
    font-size: 120px;
    font-weight: 200; /* Тонкий шрифт виглядає преміально */
    margin-top: 10px;
}

.unit {
    font-size: 30px;
    vertical-align: top;
    margin-top: 15px;
    display: inline-block;
}
