body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
    touch-action: manipulation;
}

button {
    padding: 20px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 15px;
    background-color: #333;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    user-select: none;
    -webkit-user-select: none; /* для Safari */
}
